<section class="section container-fluid" ng-controller="MainController">
	<!-- Dependencies -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<!-- endDependencies -->

	<!-- Google Maps API -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDk_iQ6QWOTHW-TWoXSFLwbcnhaxlcnXXk&libraries=places&sensor=true"></script>
	<!--<script src="locator/locator.min.js"></script>-->
	<!--<script src="locator/locator-tpl.js"></script>-->
	<!--<script src="js/app.js"></script>-->
	<!-- Scripts -->
	<div class="data-entry">
		<input alt="Enter address" placeholder="Enter address" class="address" ng-model="property.address">
		<input type="button" value="Go" class="Go" alt="Go" ng-click="loadAddresses()">
	</div>

	<section class="scroller property-pane">
		<div>
            <p ng-bind="property.address"></p>
			<span>Current Position:</span> {{property.currentPosition}}
			<span class="hide">Walk: {{property.walkAddress}}</span>
			<span class="hide">Google: {{property.googleAddress}}</span>
		</div>
		<div class="property-condition" id="transit">
			<span>Transit</span>
			<div class="walk-score">
				<a ng-href="http://www.walkscore.com/score/{{property.walkAddress}}?utm_source=badge&utm_medium=responsive&utm_campaign=badge"
				   ng-if="property.walkAddress">
					<img src="//pp.walk.sc/badge/walk/{{property.walkAddress}}.svg"
						 alt="Walk Score of {{property.address}}"/>
					<img src="//pp.walk.sc/badge/transit/{{property.walkAddress}}.svg"
						 alt="Transit Score of {{property.address}}"/>
					<img src="//pp.walk.sc/badge/bike/{{property.walkAddress}}.svg"
						 alt="Bike Score of {{property.address}}"/>
				</a>
			</div>
		</div>
	</section>
</section>